.participant-lobby-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    margin-left: 50px;
}

#bouncing-dots-loader {
    margin-left: 650px;
    margin-top: -45px;
}

.participant-lobby-wrapper-note {
    margin-top: -30px;
    color: red;
}

.participant-lobby-wrapper-waiting {
    margin-left: 350px;
    margin-top: 60px;
}