#id, #username {
    font: 0.8em sans-serif;
    min-width: 60px;
    font-weight: bold;
    
}



th, td {
  font: 0.9em sans-serif;
  border-bottom: 1px solid #ddd;
  padding: 16px;
  text-align: center;
}
