:root {
    --bgColor: orange;
  }

.update-quiz-wrapper {
    margin-left: 125px;
    margin-top: 40px;
    margin-right: 100px;
}

.update-quiz-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quiz-metadata {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.dropdown {
    margin-left: 50px;
    position: relative;
    display: inline-block;
}
  
.dropdown-toggle {
    height: 55px;
    background-color: orange;
    color: black;
    /* font-weight: bold; */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    font: 0.7em sans-serif;
    font-weight: 600;
}
  
.dropdown-toggle:hover {
    background-color: rgb(240, 142, 14);
}
  
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    min-width: 100px;
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
}
  
.dropdown-item {
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
  
.dropdown-item:hover {
    background-color: #f1f1f1;
}

.questions-container {
    margin-top: 100px;
    margin-bottom: 100px;
}
  
.questions-container-header {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
  
.question-text-header {
    display: flex;
    align-items: center;
    border: 0px solid;
    border-radius: 10px;
    background-color: orange;
    min-height: 55px;
    margin-bottom: 12px;
    /* width: 90%; */
    transition: background-color 0.1s ease-in-out;
    padding-left: 10px;
}

.question-text-header:hover {
    background-color: rgb(240, 142, 14);
    cursor: pointer;
}


#delete-question-btn {
    min-height: 55px;
    border: 0px solid;
    border-radius: 0px 10px 10px 0px;
    background-color: rgb(255, 61, 61);
    font: 0.7em sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    /* transition: background-color 0.1s ease-in-out; */
    margin-left: auto;
    background-image: linear-gradient(to right, red 0%, red 0%);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    transition: background-size 0.5s;
    min-width: 110px;
}


#delete-question-btn:hover {
    background-size: 100% 100%;
}

#save-button {
    margin-left: 50px;
    height: 55px;
    background-color: orange;
    color: black;
    /* font-weight: bold; */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    font: 0.7em sans-serif;
    font-weight: 600;
}

#save-button:hover {
    background-color: rgb(240, 142, 14);
} 

#add-question-button {
    margin-left: 50px;
    height: 55px;
    background-color: orange;
    color: black;
    /* font-weight: bold; */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    font: 0.7em sans-serif;
    font-weight: 600;
}

#add-question-button:hover {
    background-color: rgb(240, 142, 14);
}

#quiz-title-metadata {
    max-width: 500px;
    height: 55px;
}

#quiz-title-metadata[value] {
    font: 0.9em sans-serif;
}

#quiz-title-header {
    display: flex;
    align-content: start;
    margin-bottom: 20px;
}

.score-section {
    display: flex;
    flex-direction: column;
}

.update-quiz-navigation-component{
    margin-top: -20px;
    margin-left: -72px;
    margin-bottom: 80px;
}

#modal-delete-question{
    margin-left: -150px;
    margin-top: -180px;
    margin-bottom: 260px;
}

.edit-set-title {
    margin-bottom: 150px;
    font-weight: bold;
}