.popup-container {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.popup-message {
    color: aliceblue;
}

.popup-icon {
    color: aliceblue;
}

.popup {
    position: fixed;
    right: -200px;
    width: 300px;
    background-color: orange;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease-in-out;
    z-index: 999;
  }
  
  .popup.top-left {
    top: 90px;
    left: 250px;
  }
  
  .popup.top-right {
    top: 90px;
    right: 20px;
  }
  
  .popup.bottom-left {
    bottom: 20px;
    left: 250px;
  }
  
  .popup.bottom-right {
    bottom: 20px;
    right: 20px;
  }
  
  .popup.show {
    right: 20px;
  }
  