#empty-list-message {
    margin-top: 5%;
}

#show-quizzes-wrapper {
    margin-left: 40px;
}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    background-color: #f3e1c9;
    border-radius: 8px;
  }
  
  thead tr {
    background-color: orange;
    border-bottom: 2px solid aliceblue;
  }
  
  th,
  td {
    text-align: left;
  }

  td:first-child {
    word-break: break-all;
  }
  
  th {
    font-weight: bold;
    color: black;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f3e1c9;
  }
  
  tbody tr:hover {
    background-color: #f1d7b3;
  }

  thead tr th {
    position: sticky;
    top: 0;
    background-color: orange;
  }


#showQuizzes-copy-button, #showQuizzes-update-button, #showQuizzes-delete-button {
  background-color: orange;
  font-size: 18px;
  border: solid 0px;
  border-radius: 20px;
  margin-right: 10px;
}

#showQuizzes-copy-button:hover, #showQuizzes-update-button:hover, #showQuizzes-delete-button:hover {
  transform: scale(1.2);
  background-color: rgb(240, 142, 14);
}

#showQuizzes-delete-button{
  background-color: rgb(254, 77, 77);
}

#showQuizzes-delete-button:hover{
  background-color: red;
}