#edit-question-form-wrap {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(255, 243, 220);
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  #edit-question-form {
    display: flex;
    flex-direction: column;
  }
  
  #edit-question-form p {
    margin-bottom: 10px;
  }
  
  #edit-question-form input[type="quizQuestion"],
  #edit-question-form input[type="quizAnswer1"],
  #edit-question-form input[type="quizAnswer2"],
  #edit-question-form input[type="quizAnswer3"],
  #edit-question-form input[type="quizAnswer4"]{
    font-size: 16px;
    padding: 10px;
    border-radius: 4px;
    border: none;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
  }
  
  #edit-question-form input[type="file"] {
    margin-top: 10px;
  }
  
  #edit-question-form input[type="submit"] {
    margin-top: 20px;
    background-color: orange;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #edit-question-form input[type="submit"]:hover {
    background-color: rgb(240, 142, 14);
  }
  
  #edit-select-correct-answer-title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
  }
  
  .edit-select-correct-answer-section {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: center;
  }
  
  .edit-select-correct-answer-section label {
    margin-right: 10px;
    font-size: 16px;
  }
  
  

