.dashboard-container {
    display: flex;
    flex-direction: row;
    margin-top: 300px;
    margin-bottom: 300px;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: space-evenly;
}


#dashboard-join-lobby-button, #dashboard-create-lobby-button, #dashboard-quizzes-button {
    background-color: orange;
    font-size: 50px;
    border-radius: 10px;
    min-height: 200px;
    max-width: 250px;
    border: 0px;
    padding: 20px;
}

#dashboard-join-lobby-button:hover, #dashboard-create-lobby-button:hover, #dashboard-quizzes-button:hover {
    background-color: rgb(240, 142, 14);
    transform: scale(1.05);
}