.create-lobby-wrapper {
    background-color: transparent;
    /* height: 300px; */
    width: 300px;
    margin: auto;
    margin-top: 5%;
}

.create-lobby-buttons{
    /* background-color: aliceblue; */
    margin-top: 100px;
}

.create-lobby-buttons{
    position: fixed;
    font-size: 25px;
    list-style: none;
    overflow: hidden;
    padding: 0;
}

#print-lobbyCode {
    position: fixed;
    color: black;
    margin-left: 50px;
    
}

.show-participants {
    position: fixed;
    margin-top: 200px;
    margin-left: 20px;
    /* background-color: rgb(0, 255, 47); */
    float: left;
    color: black;
    /* border: 1px solid; */
    /* border-radius: 10px; */
}


#select-quiz-button{
    margin-right: 80px;
}

#select-quiz-button, #start-quiz-button{
    float: left;
    background-color: rgb(235, 188, 99);
    border-radius: 8px;
    display: block;
    text-align: center;
    padding: 6px;
    color: black;

}

#select-quiz-button:hover {
    cursor: pointer;
    background-color: rgb(232, 173, 64);
    transition: 250ms;
}

#start-quiz-button:hover {
    cursor: pointer;
    background-color: rgb(232, 173, 64);
    transition: 250ms;
}