:root {
  --flag-color: #474747;
  --flag-color2: #ffa500;
  --scale: 1;
  --scale2: 1.4;
}

.quiz {
  margin-top: 100px;
  margin-left: 250px;
  margin-right: 250px;
  background-color: bisque;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 80%;
}
  
.question-section {
  display: flex;
  flex-direction: column;
  position: relative;
  align-content: center;
  justify-content: left;
}
  
.question-count {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
  
.question-text {
  font-size: 24px;
  margin-bottom: 20px;
}
  
.answer-section {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-right: 50px;
  word-break: break-all;
}
  
.answer-section button {
  font-size: 20px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: white;
  transition: all 0.2s ease-in-out;
}
  
.answer-section button:hover {
  cursor: pointer;
  background-color: #ffa500;
  color: white;
  transform: scale(1.1);
}
  
.answer-section button:active {
  transform: scale(0.9);
}

.question-count span {
  font-size: 35px;
}

.score-section {
  display: flex;
  font-size: 24px;
  align-items: center;
}

.timer-flag-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
  
.flag-button {
  color: var(--flag-color);
  transform: scale(var(--scale));
}

.flag-button:hover {
  transform: scale(1.4);
  cursor: pointer;
  color: orange
}

.timer-content {
  display: flex;
  flex-direction: row;
}
  
.score-section {
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  font-family: sans-serif;
  color: #333;
  margin: 20px auto;
  width: 80%;
  max-width: 500px;
}
  
.feedback-section input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}
  
#quiz-end-finish-button {
  background-color: orange;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 30px;
}
  
#quiz-end-finish-button:hover {
  background-color: rgb(240, 142, 14);
}
  
.rating-section .rating-stars {
  display: flex;
  justify-content: center;
}
  
.rating-section .rating-star {
  font-size: 30px;
  color: #ccc;
  margin: 0 5px;
  cursor: pointer;
  transition: color 0.3s ease;
}

#feedback-text-area {
  font-size: 20px;
  border: 0px solid;
  border-radius: 15px;
  max-height: 8em;
  max-width: 50em;
  min-height: 4em;
  min-width: 10em;
}
  
