.join-lobby-wrapper {
    background-color: transparent;
    /* height: 300px; */
    width: 300px;
    margin: auto;
    /* margin-top: -100px; */

}

input[id="join-lobby-submit"] {
    border: none;
    display: block;
    background-color: orange;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    font-size: 18px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-align: center;
  }

  .join-lobby-navigation-component{
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 80px;
  }

  #join-lobby-input{
    font: 0.8em sans-serif;
  }

.join-lobby-title {
  display: flex;
  justify-content: center;
  margin-bottom: 150px;
  font-weight: bold;
}