.join-lobby-wrapper {
    background-color: transparent;
    /* height: 300px; */
    width: 300px;
    margin: auto;
    margin-top: 10%;
}

input[id="join-lobby-submit"] {
    border: none;
    display: block;
    background-color: orange;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    font-size: 18px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-align: center;
  }