
.account-wrapper {
    
    width: 60%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    /* background-color: rgb(255, 243, 220); */
    background-color: whitesmoke;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-top: 50px;
    border: 3px solid orange;
    box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.2);
    
  }
  
  #account-form {
    display: flex;
    flex-direction: column;
  }
  
  #account-form p {
    margin-bottom: 10px;
  }
  
  #account-form input[type="email"],
  #account-form input[type="username"],
  #account-form input[type="password"]{
    font-size: 16px;
    padding: 10px;
    border-radius: 4px;
    border: none;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
  }
  
  
  #account-form input[type="submit"] {
    margin-top: 20px;
    background-color: orange;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #account-form input[type="submit"]:hover {
    background-color: rgb(240, 142, 14);
  }
  
  .account-showError {
    font: 0.7em sans-serif;
    align-self:center;
    
  }
  
  #modal-edit-account {
    margin-left: -50%;
  }

  #account-page-title{
    margin-top: 50px;
    margin-bottom: -20px;
    margin-left: -32%;
  }

  #change-password-btn, #delete-account-btn {
    width: 150px;
    height: 40px;
    font: 0.65em sans-serif;
  }

  #delete-account-btn {
    color: red;
  }

  