.show-quiz-question {
    padding-top: 20px;
}

.show-quiz-answer4 {
    padding-bottom: 20px;
}

.show-quiz-summary {
    padding-top: 30px;
    padding-bottom: 5px; 
}

.show-quiz-score {
    padding-bottom: 40px;
}