
.show-participant-history-question {
    padding-top: 20px;
    word-break: break-all;
}

.show-participant-history-answer4 {
    padding-bottom: 60px;
    word-break: break-all;
}

.show-participant-history-summary {
    padding-top: 30px;
    padding-bottom: 5px; 
}

.show-participant-history-score {
    padding-bottom: 40px;
}

.show-participant-history-answer1, .show-participant-history-answer2, .show-participant-history-answer3{
    word-break: break-all;
}

.flag-button-history{
    transform: scale(1.4);
    color: orange
}

.correct-answer {
    color: green;
    word-break: break-all;
  }
  
.incorrect-answer {
    color: red;
    word-break: break-all;
}

.show-participant-history-wrapper{
    padding-bottom: 60px;
    width: 100%;
}

.show-participant-history-wrapper div {
    word-break: break-all;
}