.mySidebar-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #24292e;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    width: 250px;
    padding: 0px;
    height: 100%;
    position: fixed;
    padding: 20px;
  }
  
  .mySidebar-logo {
    width: 70%;
    margin: 20px 30px;
    justify-content: center;
  }
  
  .sidebar-items-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 150px;
  }

  .sidebar-main-buttons {
    margin-bottom: 250px;
    width: 100%;
  }
  
  #sidebar-dashboard-button, #sidebar-account-button, #sidebar-faq-button, #sidebar-contact-button, #sidebar-logout-button,
  #sidebar-dashboard-button-selected, #sidebar-account-button-selected, #sidebar-faq-button-selected, #sidebar-contact-button-selected {
    background-color: transparent;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
    margin: 10px 0;
    color: aliceblue;
    transition: all 0.2s ease-in-out;
  }
  
  #sidebar-dashboard-button:hover, #sidebar-account-button:hover, #sidebar-faq-button:hover, #sidebar-contact-button:hover {
    color: #0069d9;
    background-color: #f1f1f1;
    transform: scale(1.05);
  }

  #sidebar-logout-button:hover {
    color: #d9534f;
    background-color: #f1f1f1;
  }

  #sidebar-dashboard-button-selected, #sidebar-account-button-selected, #sidebar-faq-button-selected, #sidebar-contact-button-selected {
    background-color: transparent;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
    margin: 10px 0;
    transition: all 0.2s ease-in-out;
    color: #0069d9;
    background-color: #f1f1f1;
    transform: scale(1.05);
  }
  
  @media only screen and (min-width: 768px) {
    /* .mySidebar-wrapper {
      width: 300px;
      position: fixed;
      background-color: blue;
      top: 0;
      left: 0;
    } */
  
    .sidebar-items-container {
      padding: 20px;
    }
  

  }

.sidebar-username {
  text-align: center;
  color: aliceblue;
  font-size: 20px;
  margin-bottom: 30px;
}
  