.logo {
    width: 140px;
    height: 70px;
    margin-left: 150px;
}

.NavLinks {
    margin-left: 70%;
    position: absolute;
}

nav {
    /* width: 100%; */
    top: 0%;
    border-style: inset;
    /* border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px; */
    display: flex;
    /* margin: 0 auto 60px; */
    gap: 10px;
    align-items: center;
    padding: auto;
    background-color: blueviolet;
    font-size: large;
    position: sticky;
    z-index: 99;
  
  }

  .NavLinks {
    margin-left: 70%;
    position: absolute;
  }
  
  @media screen and (min-width: 500px) and (max-width: 1000px) {
    .NavLinks #first{
      display: none;
    } 
  }
  
  @media screen and (min-width: 300px) and (max-width: 700px) {
    .NavLinks #signup{
      display: none;
    } 
  }

  nav h1 {
    margin-right: auto;
  }
  
  nav a {
    color: darkred;
    padding: 4px 10px;
  }
  
  nav a.active {
    color: white;
    background-color: black;
    text-decoration: none;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }