.navbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #24292e;
  color: #fff;
  font-size: 18px;
}

.navbar-logo {
  height: 50px;
  width: auto;
  scale: 1.3;
  margin-left: 50px;
}

.navbar-logo:hover {
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 20px;
}

#navbar-home-button, #navbar-login-button, #navbar-signup-button, #navbar-dashboard-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: orange;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#navbar-login-button:hover, #navbar-signup-button:hover, #navbar-dashboard-button:hover {
  background-color: rgb(240, 142, 14);
}

#navbar-home-button {
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
}

#navbar-home-button:hover {
  background-color: #fff;
  color: #24292e;
}

@media (max-width: 768px) {
  .navbar-wrapper {
    flex-direction: column;
    align-items: stretch;
  }

  .nav-links {
    flex-direction: column;
    gap: 10px;
  }
}
