
.quiz-item {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 950px;
    border: 1px solid #ddd;
    border-radius: 15px;
    overflow: hidden;
}
  
.quiz-text-header {
    display: flex;
    align-items: center;
    border: 0px solid;
    background-color: orange;
    min-height: 55px;
    transition: background-color 0.3s ease;
}

.quiz-text-header:hover {
    background-color: rgb(240, 142, 14);
    cursor: pointer;
}

.quiz-text-header-title {
    width: 600px;
    margin-left: 10px;
    word-wrap: break-word;
}

.quiz-text-header-timestamp {
    margin-right: 20px;
}

.quiz-content {
    /* width: 100%; */
    padding-left: 10px;
    background-color: rgb(255, 243, 220);
}